<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="pd-20 card-box mb-30">
					<div class="clearfix mb-20">
						<div class="pull-left">
							<h4 class="text-blue h4">Contact Details</h4>
						</div>
					</div>
	                <table class="table table-bordered">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Email Address</th>
								<th scope="col">Mobile Number</th>
								<th scope="col">Message</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
						{% for i in data %}
							<tr>
								<td scope="row">{{i.Name}}</td>
								<td>{{i.Email}}</td>
								<td>{{i.Mobile}}</td>
								<td>{{i.Message}}</td>
								<td>
									<a href="{% url 'delete_contact' i.id %}">
										<button class="btn btn-danger">Delete</button>
									</a>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}
       {% if i.tags == 'success' %}
           <script>
               swal('{{i}}','','success')
           </script>
       {% elif i.tags == 'error' %}
           <script>
               swal('{{i}}','','error')
           </script>
       {% elif i.tags == 'warning' %}
           <script>
               swal('{{i}}','','warning')
           </script>
       {% else %}
           <script>
               swal('{{i}}','','info')
           </script>
       {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>
{% endblock %}

